.body {
    font-size: 14px;
}
.navbar-static-top {
    margin-bottom: 19px;
}
.btn {
    padding: 10px 50px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    border-radius: 4px;
    background-color: #80BD95;
    box-shadow: 0 3px 0 0 #72A884;
    text-shadow: 0 -2px 0 rgba(0,0,0,.2);
}
label:hover{
    color: white !important;
    text-shadow: 2px 1px 2px black;
}
.loader {
    width: 30px;
    height: 30px;
    margin: 50px 0 50px -15px;
    border: 8px solid #000;
    border-right-color: transparent;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 25px 2px #eee;
    border-right: 0 none;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -ms-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
#PresetFilters a {
    border-radius: 3px;
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    display: block;
    text-align: center;
    padding: 0px 10px;
    margin: 5px;
    border: none;
    font-size: 13px;
    width: 120px;
    cursor: pointer;
}
#PresetFilters a.Active {
    background-color: #7CB4E4;
}
#button-block{
    text-align: center;
    margin-bottom: 20px;
    clear: both;
    font-size: 18px;
}
.button-row2{
    margin-top: 15px;
}
.button-row{
    position: relative;
    text-align: center;
}
.filter-buttons{
    right: 0;
    position: absolute;
}